
body {
  background: url("../img/homescreen_ep7a2_705.webp") no-repeat center;
  height: 100vh;
  max-width: 100%;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.571);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* Features */

.features {
  display: flex;
  flex-direction: column;
  padding: 42px 64px 0 10px;
  float: left;
  }

.itens-features {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 0 0;
  cursor: pointer;
  position: relative;
}

.card-text{
  position: absolute;
  top: 80%;
  left: 10px;
  transform: translateY(-20%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
  pointer-events: none;
}


.text-coll {
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.text-coll-p {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.card-ammo,
.card-feature {
  width: 18rem;
  height: auto;
  border: 1px solid white;
}

.text-features {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 0 5px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.card-modes {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 82px;
  backdrop-filter: blur(14%);
  background-color: rgba(0, 0, 0, 0.233);
  border: 1px solid white;
}

.card-trailer {
  width: 18rem;
  height: auto;
  background-color: #303540;
  border: 1px solid white;
}

.card-patch {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: auto;
  backdrop-filter: blur(14%);
  background-color: rgba(0, 0, 0, 0.151);
  border: 1px solid white;
}

.content-modes {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.logo-modes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #55555538;
}

.text-modes {
  display: flex;
  align-items: center;
  width: 9.7rem;
  padding: 0 0 0 5px;
  background: #55555565;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
}

.text-patch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 39px;
  background: #00000045;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

.num-patch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: #8b8b8b;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(90, 90, 90);
}

.time-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  font-size: 0.8rem;
  background: #3b3b3b65;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.center {
  text-align: center !important;
}

.spike-icon {
  width: 30px;
  height: 30px;
}

